$bg-color: red;
$text-color: yellow;

@mixin anchor {
    text-decoration: none;
    color: $text-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 10px;
}
img {
    float: right;
}

p {
    text-align: justify;
}
.clearfix {
    clear: right;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    .box {
        width: 200px;
        height: 200px;
        background-color: $bg-color;

        a {
            @include anchor;
        }
    }
}

